# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
video_analysis/__pycache__
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.pyc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/temp_video_uploads
backend/analysis_data_store
backend/analyzed_videos_store
backend/temp_scene_segments
backend/temp_video_segments
backend/myenv
.vercel
backend/venv
keyb.json
*.sh
*.wav
*.mp4
*.jsx
*.md